
body{
    background-position: 50% left;
    background-size: ;
    background-repeat: ;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper__face {

}

.wrapper__face img{
    width: 500px;
    cursor: pointer;
}

@media (max-width: 450px) {
    .wrapper__face img{
        width: 300px;
    }
}

.active{
    display: none;
}

.unactive{
    display: block;
}